.box {
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
.pp {
    width: 140%;
    /* height: 2rem; */
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    /* font-size: 0; */
    padding: .2rem 0;
}
.pp a {
    width: 20%;
    height: 1.2rem;
}
.pp a img {
    width: 60%;
    height: .8rem;
}
p {
    height: 0.4rem;
    text-align: center;
}
.discover {
    width: 7.5rem;
}